---
import Paragraph from "./Paragraph.astro";
import Card from "./Card.astro";
---
<h1 class="text-[33px] font-bold py-4">Sobre mí</h1>
<main class="flex justify-between flex-col-reverse gap-10 sm:flex-row lg:mt-24 mt-4 items-start w-full">
    <section class="lg:w-[50%]">
<Paragraph />
</section>
<Card /> 
</main>