---
import Paragraph from "./Paragraph.astro";
import Card from "./Card.astro";
---

<main class="flex justify-between mt-24 items-center w-full">
    <section class="w-[50%]">
<Paragraph />
</section>
<Card /> 
</main>