<div class="[&>p]:mb-4">
<p class="opacity-60 text-wrap">
    Me llamo Aaron, desde muy temprana edad me empecé a interesar por la tecnología moderna, en lo que creé mi primera cuenta social empece a hacerme llamar anónimamente como "eswaldots".
</p>

<p class="opacity-60 text-wrap">
    Trabajo con múltiples tecnologías desde el desarrollo de interfaces gráficas para la web hasta la programación de APIs REST, con un enfoque en la simplicidad y la facilidad de uso.
</p>

<p class="opacity-60">Cuento con experiencia en desarrollo de aplicaciones de escritorio, desarrollé una iniciativa llamada Weathify, que es una aplicación que cambia el fondo de pantalla dependiendo del clima local. Una aplicación con la que he soñado mucho antes de conocer la programación.</p>
</div>
