---
import Github from "../brands/icons/Github.astro";
---

<a
  target="_blank"
  href="https://github.com/eswaldots"
  class="flex gap-2 z-10 duration-500 ease items-center bg-black rounded-full transition hover:scale-125 text-white py-2 px-4"
>
  <section class="size-6">
    <Github isWhite={true} />
  </section>
  <span>Github</span>
</a>
