---
import Linkedin from "../brands/icons/Linkedin.astro";
---

<a
  target="_blank"
  href="https://www.linkedin.com/in/aaron-avila-b57919329/"
  class="flex gap-2 z-10 duration-500 ease items-center bg-[#0A66C2] rounded-full transition hover:scale-125 py-2 px-4"
>
  <section class="size-6">
    <Linkedin />
  </section>
  <span class="text-text-foreground">Linkedin</span>
</a>
