---

interface Props {
	class?: string;
    id: string;
}

const { class: className, id } = Astro.props;
---

<section class={className} id={id}>
    <slot />
</section>

<style>
    section {
        scroll-margin-top: 60px;
    }
</style>