---
import GithubButton from "../misc/GithubButton.astro";
import LinkedinButton from "../misc/LinkedinButton.astro";
---

<div class="flex flex-col items-center text-center  w-full">
    <h1 class="text-[48px] font-bold py-4">Vamos a colaborar</h1>
    <section class="flex flex-wrap gap-y-2 gap-x-4 justify-center w-full">
    <GithubButton />
    <LinkedinButton />
</section>
</div>