---
import Collaborate from "./Collaborate.astro";
import Rights from "./Rights.astro";
---

<main class="mt-24 mb-12">
    <article class="relative p-10 flex items-center justify-center sm:h-[650px] w-full bg-foreground/[0.04] rounded-[39px] dark:bg-background/[0.04]">
        <Collaborate />
        <Rights />
    </article>
<p class="w-full sm:hidden py-4 mx-auto flex opacity-30">© 2088 Aaron Avila</p>
</main>