---
import TechGrid from "./TechGrid.astro";
---

<main class="mt-20">
  <h1 class="text-[33px] py-4 font-bold">Tecnologías con las que trabajo</h1>
  <article class="flex justify-center w-full mt-2">
    <TechGrid />
  </article>
</main>
